@import '../../../styles/main';

$header-height: 15rem;

.header {
    background-color: rgba($color-primary, .9) !important;
    height: $header-height;
    width: 100%;

    &__title {
        line-height: $header-height;
        margin: 0;
        padding: 0 0 0 5rem;
        text-align: left;
    }
}
