@import '../../../styles/main';

$header-height: 12rem;

.header {
    height: $header-height;
    width: 100%;

    &__container {
        background-color: #1B94FB !important;
        height: inherit;
    }

    &__title {
        line-height: $header-height;
        margin: 0;
        padding: 0 0 0 2rem;
        text-align: left;

        @extend .heading__superhero;
    }
}
